$themes: (
  light: (
    textColor: #000,
    bg: white,
    logo: darkblue,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: white,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}


.container1 {
  display: grid;

  grid-template-columns: 250px calc(100vw - 300px);
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav"
    "sidebar main";
}


@media only screen and (max-width: 978px) {
  .container1 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}


.comment_input{
  display: flex;
  align-items: center;
}

.comment_input input{
  background: #f7f7f7;
  border: none;
  outline: none;
  flex: 1;
  overflow: auto;
}

.comment_input .postBtn{
  border: none;
  outline: none;
  background: #f7f7f7;
  font-weight: 600;
  color: crimson;
  padding: 10px;
  font-size: 15px;
}