@import url("https://themes.googleusercontent.com/fonts/css?kit=f07rT8OfEooBJQZ-uS2Ruw");

ol.lst-kix_list_3-1 {
  list-style-type: none;
}

ol.lst-kix_list_3-2 {
  list-style-type: none;
}

.lst-kix_list_3-1 > li {
  counter-increment: lst-ctn-kix_list_3-1;
}

ol.lst-kix_list_3-3 {
  list-style-type: none;
}

ol.lst-kix_list_3-4.start {
  counter-reset: lst-ctn-kix_list_3-4 0;
}

ol.lst-kix_list_3-4 {
  list-style-type: none;
}

.lst-kix_list_2-1 > li {
  counter-increment: lst-ctn-kix_list_2-1;
}

ol.lst-kix_list_3-0 {
  list-style-type: none;
}

.lst-kix_list_1-1 > li {
  counter-increment: lst-ctn-kix_list_1-1;
}

ol.lst-kix_list_2-6.start {
  counter-reset: lst-ctn-kix_list_2-6 0;
}

.lst-kix_list_3-0 > li:before {
  content: "" counter(lst-ctn-kix_list_3-0, lower-roman) ". ";
}

ol.lst-kix_list_3-1.start {
  counter-reset: lst-ctn-kix_list_3-1 0;
}

.lst-kix_list_3-1 > li:before {
  content: "" counter(lst-ctn-kix_list_3-1, lower-latin) ". ";
}

.lst-kix_list_3-2 > li:before {
  content: "" counter(lst-ctn-kix_list_3-2, lower-roman) ". ";
}

ol.lst-kix_list_1-8.start {
  counter-reset: lst-ctn-kix_list_1-8 0;
}

ol.lst-kix_list_2-3.start {
  counter-reset: lst-ctn-kix_list_2-3 0;
}

.lst-kix_list_3-5 > li:before {
  content: "" counter(lst-ctn-kix_list_3-5, lower-roman) ". ";
}

.lst-kix_list_3-4 > li:before {
  content: "" counter(lst-ctn-kix_list_3-4, lower-latin) ". ";
}

ol.lst-kix_list_1-5.start {
  counter-reset: lst-ctn-kix_list_1-5 0;
}

.lst-kix_list_3-3 > li:before {
  content: "" counter(lst-ctn-kix_list_3-3, decimal) ". ";
}

ol.lst-kix_list_3-5 {
  list-style-type: none;
}

ol.lst-kix_list_3-6 {
  list-style-type: none;
}

ol.lst-kix_list_3-7 {
  list-style-type: none;
}

ol.lst-kix_list_3-8 {
  list-style-type: none;
}

.lst-kix_list_3-8 > li:before {
  content: "" counter(lst-ctn-kix_list_3-8, lower-roman) ". ";
}

.lst-kix_list_2-0 > li {
  counter-increment: lst-ctn-kix_list_2-0;
}

.lst-kix_list_2-3 > li {
  counter-increment: lst-ctn-kix_list_2-3;
}

.lst-kix_list_3-6 > li:before {
  content: "" counter(lst-ctn-kix_list_3-6, decimal) ". ";
}

.lst-kix_list_3-7 > li:before {
  content: "" counter(lst-ctn-kix_list_3-7, lower-latin) ". ";
}

.lst-kix_list_1-2 > li {
  counter-increment: lst-ctn-kix_list_1-2;
}

ol.lst-kix_list_3-7.start {
  counter-reset: lst-ctn-kix_list_3-7 0;
}

.lst-kix_list_3-2 > li {
  counter-increment: lst-ctn-kix_list_3-2;
}

ol.lst-kix_list_2-2 {
  list-style-type: none;
}

ol.lst-kix_list_2-3 {
  list-style-type: none;
}

ol.lst-kix_list_2-4 {
  list-style-type: none;
}

ol.lst-kix_list_2-5 {
  list-style-type: none;
}

.lst-kix_list_1-4 > li {
  counter-increment: lst-ctn-kix_list_1-4;
}

ol.lst-kix_list_2-0 {
  list-style-type: none;
}

ol.lst-kix_list_1-6.start {
  counter-reset: lst-ctn-kix_list_1-6 0;
}

ol.lst-kix_list_2-1 {
  list-style-type: none;
}

ol.lst-kix_list_3-3.start {
  counter-reset: lst-ctn-kix_list_3-3 0;
}

ol.lst-kix_list_2-6 {
  list-style-type: none;
}

ol.lst-kix_list_2-7 {
  list-style-type: none;
}

ol.lst-kix_list_2-8 {
  list-style-type: none;
}

ol.lst-kix_list_1-0.start {
  counter-reset: lst-ctn-kix_list_1-0 0;
}

.lst-kix_list_3-0 > li {
  counter-increment: lst-ctn-kix_list_3-0;
}

.lst-kix_list_3-3 > li {
  counter-increment: lst-ctn-kix_list_3-3;
}

.lst-kix_list_3-6 > li {
  counter-increment: lst-ctn-kix_list_3-6;
}

.lst-kix_list_2-5 > li {
  counter-increment: lst-ctn-kix_list_2-5;
}

.lst-kix_list_2-8 > li {
  counter-increment: lst-ctn-kix_list_2-8;
}

ol.lst-kix_list_3-2.start {
  counter-reset: lst-ctn-kix_list_3-2 0;
}

.lst-kix_list_2-2 > li {
  counter-increment: lst-ctn-kix_list_2-2;
}

ol.lst-kix_list_2-4.start {
  counter-reset: lst-ctn-kix_list_2-4 0;
}

ol.lst-kix_list_1-3 {
  list-style-type: none;
}

ol.lst-kix_list_1-4 {
  list-style-type: none;
}

.lst-kix_list_2-6 > li:before {
  content: "" counter(lst-ctn-kix_list_2-6, decimal) ". ";
}

.lst-kix_list_2-7 > li:before {
  content: "" counter(lst-ctn-kix_list_2-7, lower-latin) ". ";
}

.lst-kix_list_2-7 > li {
  counter-increment: lst-ctn-kix_list_2-7;
}

.lst-kix_list_3-7 > li {
  counter-increment: lst-ctn-kix_list_3-7;
}

ol.lst-kix_list_1-5 {
  list-style-type: none;
}

ol.lst-kix_list_1-6 {
  list-style-type: none;
}

ol.lst-kix_list_1-0 {
  list-style-type: none;
}

.lst-kix_list_2-4 > li:before {
  content: "" counter(lst-ctn-kix_list_2-4, lower-latin) ". ";
}

.lst-kix_list_2-5 > li:before {
  content: "" counter(lst-ctn-kix_list_2-5, lower-roman) ". ";
}

.lst-kix_list_2-8 > li:before {
  content: "" counter(lst-ctn-kix_list_2-8, lower-roman) ". ";
}

ol.lst-kix_list_1-1 {
  list-style-type: none;
}

ol.lst-kix_list_1-2 {
  list-style-type: none;
}

ol.lst-kix_list_3-0.start {
  counter-reset: lst-ctn-kix_list_3-0 0;
}

ol.lst-kix_list_1-7 {
  list-style-type: none;
}

.lst-kix_list_1-7 > li {
  counter-increment: lst-ctn-kix_list_1-7;
}

ol.lst-kix_list_1-8 {
  list-style-type: none;
}

ol.lst-kix_list_3-8.start {
  counter-reset: lst-ctn-kix_list_3-8 0;
}

ol.lst-kix_list_2-5.start {
  counter-reset: lst-ctn-kix_list_2-5 0;
}

.lst-kix_list_2-6 > li {
  counter-increment: lst-ctn-kix_list_2-6;
}

.lst-kix_list_3-8 > li {
  counter-increment: lst-ctn-kix_list_3-8;
}

ol.lst-kix_list_1-7.start {
  counter-reset: lst-ctn-kix_list_1-7 0;
}

ol.lst-kix_list_2-2.start {
  counter-reset: lst-ctn-kix_list_2-2 0;
}

.lst-kix_list_1-5 > li {
  counter-increment: lst-ctn-kix_list_1-5;
}

.lst-kix_list_1-8 > li {
  counter-increment: lst-ctn-kix_list_1-8;
}

ol.lst-kix_list_1-4.start {
  counter-reset: lst-ctn-kix_list_1-4 0;
}

.lst-kix_list_3-5 > li {
  counter-increment: lst-ctn-kix_list_3-5;
}

ol.lst-kix_list_1-1.start {
  counter-reset: lst-ctn-kix_list_1-1 0;
}

.lst-kix_list_3-4 > li {
  counter-increment: lst-ctn-kix_list_3-4;
}

.lst-kix_list_2-4 > li {
  counter-increment: lst-ctn-kix_list_2-4;
}

ol.lst-kix_list_3-6.start {
  counter-reset: lst-ctn-kix_list_3-6 0;
}

ol.lst-kix_list_1-3.start {
  counter-reset: lst-ctn-kix_list_1-3 0;
}

ol.lst-kix_list_2-8.start {
  counter-reset: lst-ctn-kix_list_2-8 0;
}

ol.lst-kix_list_1-2.start {
  counter-reset: lst-ctn-kix_list_1-2 0;
}

.lst-kix_list_1-0 > li:before {
  content: "" counter(lst-ctn-kix_list_1-0, decimal) ". ";
}

.lst-kix_list_1-1 > li:before {
  content: "" counter(lst-ctn-kix_list_1-1, lower-latin) ". ";
}

.lst-kix_list_1-2 > li:before {
  content: "" counter(lst-ctn-kix_list_1-2, lower-roman) ". ";
}

ol.lst-kix_list_2-0.start {
  counter-reset: lst-ctn-kix_list_2-0 0;
}

.lst-kix_list_1-3 > li:before {
  content: "" counter(lst-ctn-kix_list_1-3, decimal) ". ";
}

.lst-kix_list_1-4 > li:before {
  content: "" counter(lst-ctn-kix_list_1-4, lower-latin) ". ";
}

ol.lst-kix_list_3-5.start {
  counter-reset: lst-ctn-kix_list_3-5 0;
}

.lst-kix_list_1-0 > li {
  counter-increment: lst-ctn-kix_list_1-0;
}

.lst-kix_list_1-6 > li {
  counter-increment: lst-ctn-kix_list_1-6;
}

.lst-kix_list_1-7 > li:before {
  content: "" counter(lst-ctn-kix_list_1-7, lower-latin) ". ";
}

ol.lst-kix_list_2-7.start {
  counter-reset: lst-ctn-kix_list_2-7 0;
}

.lst-kix_list_1-3 > li {
  counter-increment: lst-ctn-kix_list_1-3;
}

.lst-kix_list_1-5 > li:before {
  content: "" counter(lst-ctn-kix_list_1-5, lower-roman) ". ";
}

.lst-kix_list_1-6 > li:before {
  content: "" counter(lst-ctn-kix_list_1-6, decimal) ". ";
}

.lst-kix_list_2-0 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0, decimal) ". ";
}

.lst-kix_list_2-1 > li:before {
  content: "" counter(lst-ctn-kix_list_2-1, lower-latin) ". ";
}

ol.lst-kix_list_2-1.start {
  counter-reset: lst-ctn-kix_list_2-1 0;
}

.lst-kix_list_1-8 > li:before {
  content: "" counter(lst-ctn-kix_list_1-8, lower-roman) ". ";
}

.lst-kix_list_2-2 > li:before {
  content: "" counter(lst-ctn-kix_list_2-2, lower-roman) ". ";
}

.lst-kix_list_2-3 > li:before {
  content: "" counter(lst-ctn-kix_list_2-3, decimal) ". ";
}

ol {
  margin: 0;
  padding: 0;
}

table td,
table th {
  padding: 0;
}

.c15 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 31.9pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c2 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 414.5pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c11 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 292.9pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c24 {
  -webkit-text-decoration-skip: none;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: super;
  text-decoration-skip-ink: none;
  font-size: 15pt;
  font-family: "Times New Roman";
}

.c1 {
  color: #0070c0;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 26pt;
  font-family: "Times New Roman";
  font-style: normal;
}

.c26 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 15pt;
  font-style: normal;
}

.c27 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 12pt;
  font-style: normal;
}

.c17 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 36.8pt;
}

.c20 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.1500000000000001;
  text-align: left;
}

.c28 {
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 15pt;
}

.c16 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  text-align: left;
}

.c25 {
  color: #222222;
  text-decoration: none;
  font-size: 12pt;
  font-style: normal;
}

.c38 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
}

.c10 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: justify;
}

.c7 {
  color: #000000;
  text-decoration: none;
  font-size: 12pt;
  font-style: normal;
}

.c22 {
  margin-left: -5.4pt;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}

.c37 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}

.c18 {
  color: #0070c0;
  text-decoration: none;
  font-size: 12pt;
  font-style: normal;
}

.c39 {
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.c29 {
  color: #000000;
  text-decoration: none;
  font-style: normal;
}

.c6 {
  vertical-align: baseline;
  font-family: "Times New Roman";
  font-weight: 400;
}

.c0 {
  vertical-align: baseline;
  font-family: "Times New Roman";
  font-weight: 700;
}

.c14 {
  vertical-align: super;
  font-family: "Times New Roman";
  font-weight: 400;
}

.c36 {
  color: #222222;
  text-decoration: none;
  font-style: normal;
}

.c8 {
  orphans: 2;
  widows: 2;
}

.c34 {
  max-width: 728.5pt;
  padding: 45pt 56.7pt 10.3pt 56.7pt;
}

.c32 {
  margin-left: 106.3pt;
  text-indent: 35.5pt;
}

.c21 {
  font-weight: 400;
  font-family: "Liberation Serif";
}

.c35 {
  font-size: 18pt;
}

.c19 {
  font-size: 11pt;
}

.c23 {
  height: 220pt;
}

.c9 {
  vertical-align: baseline;
}

.c30 {
  font-size: 15pt;
}

.c13 {
  background-color: #ffffff;
}

.c12 {
  height: 197.7pt;
}

.c31 {
  font-size: 9pt;
}

.c5 {
  height: 12pt;
}

.c3 {
  height: 0pt;
}

.c33 {
  height: 261.4pt;
}

.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Liberation Serif";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1;
  page-break-after: avoid;
  font-style: italic;
  text-align: left;
}

li {
  color: #000000;
  font-size: 12pt;
  font-family: "Liberation Serif";
}

p {
  margin: 0;
  color: #000000;
  font-size: 12pt;
  font-family: "Liberation Serif";
}

h1 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 16pt;
  padding-bottom: 3pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h2 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 3pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  font-style: italic;
  text-align: left;
}

h3 {
  padding-top: 14pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Liberation Serif";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h4 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: "Liberation Serif";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h5 {
  padding-top: 11pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: "Liberation Serif";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h6 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: "Liberation Serif";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}
